/* BPG ExtraSquare Mtavruli Webfont */
@font-face {
    font-family: 'BPG ExtraSquare Mtavruli';
    src: url('bpg-extrasquare-mtavruli-webfont.eot'); /* IE9 Compat Modes */
    src: url('bpg-extrasquare-mtavruli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('bpg-extrasquare-mtavruli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('bpg-extrasquare-mtavruli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('bpg-extrasquare-mtavruli-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('bpg-extrasquare-mtavruli-webfont.svg#BPGExtraSquareMtavruli') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
    font-display: swap; /* Better performance */
}